<h1>
  <span data-i18n="skills.my_skills">Sobre</span>
</h1>
<div>
  O projeto nasceu em janeiro de 2018 no <a href="https://github.com/ananoterminal">Github</a> com subprojetos esporádicos e em janeiro de 2020 passou por uma reformulação.
  O foco do projeto é ajudar as pessoas interessadas em ciência da computação com conteúdo inteiramente em português, pois ainda há escassez de conteúdo nesse idioma.
  Criado por <a href="https://anapaulamendes.github.io/">Ana Paula Mendes</a>, uma pessoa apaixonada por comunidades, tecnologia e ensino de programação.
</div>
